.message-wrap-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.message {
    color: var(--m-s-base-font-color);
    font-size: 3em;
}
